
<!-- <div class="image-back"></div> -->
<div id="back">
  <img src="../../assets/images/william-karl-I1ox7msRbn8-unsplash.jpg" alt="Photo by William Karl on Unsplash"> 
</div>

<div class="login-form" *ngIf="!isLoggedIn">

    <form class="global-form"

           name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
           #f="ngForm"
          novalidate>
      <div class="form-item"> 
          <img id="logo" src="../../assets/images/credito.jpg" alt="credito">
      </div> 
      <div class="form-item">
        <!--<label for="username">Nom d'utilisateur:</label> -->
        <input  type="text"
                name="username"
                [(ngModel)]="form.username"
                required
                placeholder="Nom d'utilisateur"
                #username="ngModel"/>
      </div>
      <div  class="error-effect-title"
            *ngIf="f.submitted && username.invalid">
             Le nom d'utilisateur est obligatoire!
      </div>

      <div class="form-item">
        <!-- <label for="password">Mot de passe:</label> -->
        <input  type="password"
                name="password"
                [(ngModel)]="form.password"
                required
                placeholder="Mot de passe"
                minlength="6"
                #password="ngModel"/>
      </div>
      <div  class="error-effect-title"
            *ngIf="f.submitted && password.invalid">
              <div *ngIf="password.errors.required">Le mot de passe est obligatoire!</div>
              <div *ngIf="password.errors.minlength">Le mot de passe doit contenir au moins 6 caractères</div> 
      </div>

      <div id="line"></div>

      <br>

      <div id="connect-button">
        <button>Se connecter</button>
      </div>

      <div class="form-item">
        <div class="error-effect-title"
             *ngIf="f.submitted && isLoginFailed">
            Connexion impossible: {{ errorMessage }}
        </div>
      </div>

    </form>

</div>

<!--
<div class="message" *ngIf="isLoggedIn">
  Bonjour {{username}} !
</div>

<div id='continue-button'>
  <button *ngIf="isLoggedIn && autoDisplayLoginForm" (click)="onGoBack()">Continuer</button>
</div>
-->



  
