
#personal-info h1, #personal-info p {
    text-align: center;
}


/*******************************************************************/
/***************** Displaying offer list specific rules ************/
/*******************************************************************/

/* offers are displayed on a single column */
#offer-list{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

/* one frame contains 3 parts of an offer in a row : text, consult detail link, showcase image */
.offer-list-result {
    background-color: silver;
    border : solid dimgrey;
    border-radius: 0.4rem;

    width: 50%;
   
    margin:10px;

    display:flex;
    flex-wrap:nowrap;
    justify-content: space-between;

    align-items: center;
    
}

/*part one of an offer on the left side: short text description */
/* flex 1 allows to adjust the space ratio that each element takes n= 1 for all indicates each takes the same space*/
.offer-list-text {
    text-align: left;
    
    flex: 1; /*note  :equivalent to flex: 1 0 0; */

}

/*part two of an offer on the center : detail consulting link */
/* flex 1 allows to adjust the space ratio that each element takes n= 1 for all indicates each takes the same space*/
.offer-list-link {
    text-align: center;

    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;


}


.offer-list-link button {
    margin : 1% auto;
    min-width:30%;
} 


/*part three of an offer on the right side : showcase of the first image stored */
/* flex 1 allows to adjust the space ratio that each element takes n= 1 for all indicates each takes the same space*/
.offer-list-image{

    flex: 1;
   
    width:100%;                       
    height: 100%; 

    display: flex;
    align-items: center;
    justify-content: center;
}

/* image takes full space of parent div and respecting image proportions */
.image-showcase {
    max-width: 100%;
    max-height: 100%;
}

/*colorisation of input and error/informationnal messages */
 .message {
    color:lightcoral
}