

<div id="personal-info" *ngIf="userDetailObs  | async as userDetail">
  <h1>Espace utilisateur</h1>
  <h2>Mes informations personnelles</h2>
  <p>Nom d'utilisateur: {{userDetail.username}}</p>
  <p>Email :            {{userDetail.email}}</p>
  <br>
  <h2>Mes annonces en ligne</h2>
  <br>

</div>

    <!--displaying user infos and list of user offers retrieved from database-->
  <div  *ngIf="userDetailObs  | async as userDetail" >
    <div *ngFor="let offer of userDetail.offers">
      <div id="offer-list" *ngIf="!offer.sale">
       <div class="offer-list-result" >
       <!-- <div id="offer-list" *ngFor="let offer of userDetail.offers" >
        <div class="offer-list-result" *ngIf="!offer.sale" > -->
        <div class="offer-list-text">
            <p><strong>{{offer.carBrand}} {{offer.carModel}}</strong></p>
            <p id="price"><strong>{{offer.price | currency:'EUR':'symbol':'1.0-0'}}</strong></p>
            <p>{{offer.postalCode}}</p>
            <br>
            <p>{{offer.date | date : 'dd/MM/yyyy'}}, {{offer.date | date : 'HH:mm'}}</p>
            <br>
            <button (click)="onUpdate(offer.id)">Modifier</button>
            <button (click)="onDelete(offer.id)">Supprimer</button>
        </div>
        <!--<div class="offer-list-link">
            <button (click)="onConsult(offer.id)">Consulter</button> 
            <button (click)="onUpdate(offer.id)">Modifier</button>
            <button (click)="onDelete(offer.id)">Supprimer</button>
        </div> -->
        <div class="offer-list-image" *ngIf="offer.images[0]; else noPhoto"> 
            <img class="image-showcase" src="data:image/jpeg;base64,{{offer.images[0].picByte}}"> 
        </div>
        
        <ng-template #noPhoto>
            <div class="offer-list-image">
                <img class="image-showcase" src="https://img.autoplus.fr/news/2020/01/28/1545980/dd93e16662b77b72595ac6e8-1200-800.jpg" alt="offer-image">
            </div>
        </ng-template>
    </div>
    </div>
  </div>
  </div>


  <div id="personal-info" *ngIf="userDetailObs  | async as userDetail">
      <br>
      <h2>Mes ventes réalisées</h2>
  </div>
  
  
  <div *ngIf="userDetailObs  | async as userDetail" >
    <div *ngFor="let offer of userDetail.offers">
      <div id="offer-list" *ngIf="offer.sale">
        <div class="offer-list-result">
   <!-- <div id="offer-list" *ngFor="let offer of userDetail.offers">
      <div class="offer-list-result" *ngIf="offer.sale" > -->
        <div class="offer-list-text" >

            <p><strong>{{offer.carBrand}} {{offer.carModel}}</strong></p>
            <p id="price"><strong>{{priceReceivedBySeller(offer.sale.finalPrice,offer.sale.commissionRate) | currency:'EUR':'symbol':'1.0-0'}}</strong></p>
            <br>
            <p>Vente réalisée le {{offer.sale.date | date : 'dd/MM/yyyy'}}</p>
            <br>
            <p>Note : Le montant tient compte de la commission facturée par ocar.com</p>

            <!--<p><strong>Vente le :</strong> {{offer.sale.date | date : 'dd/MM/yyyy'}}</p>
            <p><strong>Prix initial:</strong> {{offer.price | currency:'EUR':'symbol':'1.0-0'}}</p>
            <p><strong>Prix final:</strong> {{offer.sale.finalPrice | currency:'EUR':'symbol':'1.0-0'}}</p> 
            <p><strong>Commission:</strong> {{offer.sale.commissionRate | number:'1.2-2'}} %</p> 
            <p><strong>Modèle:</strong> {{offer.carModel}}</p>
            <p>{{priceReceivedBySeller(offer.sale.finalPrice,offer.sale.commissionRate) | currency:'EUR':'symbol':'1.0-0'}}</p> -->
            
        </div>
        <!--<div class="offer-list-link">
            <button (click)="onConsult(offer.id)">Consulter</button> 
        </div> -->
        <div class="offer-list-image" *ngIf="offer.images[0]; else noPhoto"> 
            <img class="image-showcase" src="data:image/jpeg;base64,{{offer.images[0].picByte}}"> 
        </div>
        
        <ng-template #noPhoto>
            <div class="offer-list-image">
                <img class="image-showcase" src="https://img.autoplus.fr/news/2020/01/28/1545980/dd93e16662b77b72595ac6e8-1200-800.jpg" alt="offer-image">
            </div>
        </ng-template> 
      </div>
    </div>
    </div>
  </div>
  
    <!--print a message if a message is generated by one of the functions-->
  <h3 *ngIf="message" class="message">{{message}}</h3>