
<div id="personal-info" *ngIf="userDetailObs  | async as userDetail">
  
  <h1>Mes informations personnelles</h1>
  <p>{{userDetail.username}}</p>
  <p>{{userDetail.email}}</p>
  <br>
  <h1>Mes annonces en ligne</h1>
  <br>

</div>

    <!--displaying user infos and list of user offers retrieved from database-->
  <div  *ngIf="userDetailObs  | async as userDetail" >

    <div id="offer-list" *ngFor="let offer of userDetail.offers">
      <div class="offer-list-result" *ngIf="!offer.sale">
        <div class="offer-list-text">
            <p><strong>Date de l'offre:</strong> {{offer.date | date : 'dd/MM/yyyy'}}</p>
            <p><strong>Marque:</strong> {{offer.carBrand}}</p> 
            <p><strong>Modèle:</strong> {{offer.carModel}}</p>
            <p><strong>Prix:</strong> {{offer.price | currency:'EUR':'symbol':'1.0-0'}}</p>
        </div>
        <div class="offer-list-link">
            <!-- <button (click)="onConsult(offer.id)">Consulter</button> -->
            <button (click)="onUpdate(offer.id)">Modifier</button>
            <button (click)="onDelete(offer.id)">Supprimer</button>
        </div>
        <div class="offer-list-image" *ngIf="offer.images[0]; else noPhoto"> 
            <img class="image-showcase" src="data:image/jpeg;base64,{{offer.images[0].picByte}}"> 
        </div>
        
        <ng-template #noPhoto>
            <div class="offer-list-image">
                <img class="image-showcase" src="https://img.autoplus.fr/news/2020/01/28/1545980/dd93e16662b77b72595ac6e8-1200-800.jpg" alt="offer-image">
            </div>
        </ng-template>
    </div>
    </div>
  </div>


  <div id="personal-info" *ngIf="userDetailObs  | async as userDetail">
      <br>
      <h1>Mes ventes réalisées</h1>
  </div>
  
  
  <div *ngIf="userDetailObs  | async as userDetail" >
    <div id="offer-list" *ngFor="let offer of userDetail.offers">
      <div class="offer-list-result" *ngIf="offer.sale" >
        <div class="offer-list-text" >
            <p><strong>Date de la vente:</strong> {{offer.sale.date | date : 'dd/MM/yyyy'}}</p>
            <p><strong>Prix final:</strong> {{offer.sale.finalPrice}}</p> 
            <p><strong>Modèle:</strong> {{offer.carModel}}</p>
            <p><strong>Prix:</strong> {{offer.price | currency:'EUR':'symbol':'1.0-0'}}</p>
        </div>
        <div class="offer-list-link">
            <button (click)="onConsult(offer.id)">Consulter</button> 
            <!--<button (click)="onUpdate(offer.id)">Modifier</button>
            <button (click)="onDelete(offer.id)">Supprimer</button> -->
        </div>
        <div class="offer-list-image" *ngIf="offer.images[0]; else noPhoto"> 
            <img class="image-showcase" src="data:image/jpeg;base64,{{offer.images[0].picByte}}"> 
        </div>
        
        <ng-template #noPhoto>
            <div class="offer-list-image">
                <img class="image-showcase" src="https://img.autoplus.fr/news/2020/01/28/1545980/dd93e16662b77b72595ac6e8-1200-800.jpg" alt="offer-image">
            </div>
        </ng-template> 
      </div>
    </div>
  </div>
  
    <!--print a message if a message is generated by one of the functions-->
  <h3 *ngIf="message" class="message">{{message}}</h3>