h1 {
    /*width : 33%; */
    margin:0.7rem auto;
    background-color: #fff;
    text-align: center;  
    border-radius: 0.4rem;
  
}

h2 {
    /*margin : auto;
    width:33%; */

    border-bottom: solid 0.3rem #8C2B53;
 
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.2rem;

    
}

#personal-info {
    margin : auto;
    width : 33%;
}

/*
#personal-info h1, */
#personal-info p {
    margin:0;
    /*text-align: center; */
} 

.offer-list-result p {
    margin:0;

}


/*******************************************************************/
/***************** Displaying offer list specific rules ************/
/*******************************************************************/

/* offers are displayed on a single column */
#offer-list{
    /*display:flex;
    flex-wrap:wrap;
    justify-content: center; */

    width  :33%; /*add*/
    margin: auto; /*add*/

    background-color: #fff; 

    padding:0.7rem;
  
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

/* one frame contains 3 parts of an offer in a row : text, consult detail link, showcase image */
.offer-list-result {
    /*background-color: silver;
    border : solid dimgrey;
    border-radius: 0.4rem;

    width: 50%;
   
    margin:10px;

    display:flex;
    flex-wrap:nowrap;
    justify-content: space-between;

    align-items: center; */

    border-top : solid #e9ebee;
   
 
     display:flex;
     flex-wrap:nowrap;
     justify-content: space-between;

 
     width: 100%;

     outline: none;
     text-decoration: none;  /* no undelined link */
     background-color: #fff; 
    
}

.offer-list-result:link{
    color : black;
}

.offer-list-result:visited{
    color : black;

} 

.offer-list-result:focus{
    color : black;
} 

.offer-list-result:hover{
    color : black;

}

.offer-list-result:active{
    color : black;

}

/*part one of an offer on the left side: short text description */
/* flex 1 allows to adjust the space ratio that each element takes n= 1 for all indicates each takes the same space*/
.offer-list-text {
    /*text-align: left; */
    
    flex: 1; /*note  :equivalent to flex: 1 0 0; */

}


.offer-list-text button {

margin-left : 0.5rem;
margin-top: 0;
margin-bottom : 0;
} 

/*part two of an offer on the center : detail consulting link */
/* flex 1 allows to adjust the space ratio that each element takes n= 1 for all indicates each takes the same space*/
/*.offer-list-link {
    text-align: center;

    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;


}


.offer-list-link button {
    margin : 1% auto;
    min-width:30%;
} */


/*part three of an offer on the right side : showcase of the first image stored */
/* flex 1 allows to adjust the space ratio that each element takes n= 1 for all indicates each takes the same space*/
.offer-list-image{

    flex: 1;
   
    width:100%;                       
    height: 100%; 

    display: flex;
    align-items: center;
    justify-content: center;
}

/* image takes full space of parent div and respecting image proportions */
.image-showcase {
    max-width: 100%;
    max-height: 100%;
}

/*colorisation of input and error/informationnal messages */
 .message {
    color:lightcoral
}

#price {
    color:#8C2B53;
}

#taxMessage p {
    text-align: center;
}

/* for Ipad Pro and Ipad : 80% of full screen display (1024px and less)*/
@media screen and (max-width: 1024px) {

    #offer-list, #personal-info  {
        width:80%;
    }


}
    
    
/* for mobile phones and all tablets equals or less than 767px,
labels and inputs are displayed in column and at full screen width */
@media screen and (max-width: 767px) {
    
    h2 {
        width:80%;
        font-size: 1.1rem;
    } 
    

    p, label{
        font-size:0.8rem;
    }

    .offer-list-text button {

        margin-left : 0.1rem;
        width:60px;
        font-size:0.7rem;
        } 

  
}
