<!--The user has to be authenticated to simulate a credit-->
<div *ngIf="!isLoggedIn" class="if-not-connected">
    <p>Connectez-vous ou inscrivez-vous pour effectuer une simulation de crédit</p>
    <button (click)="onLoginchoice()" class="if-not-connected-button">Se connecter</button> 
    <button routerLink="/register" class="if-not-connected-button">S'inscrire</button> <!--address starting with / : absolute route--> 
</div>

<div [ngClass]="{'is-blurred': !isLoggedIn}"> 
	<div id="calculator-choice">
        <button (click)="onSimulate()">Simuler un achat à crédit</button>
	</div>
</div> 


