/*center the titles */
h1, p {
    text-align: center;
}

/* h2 titles are undelined */
h2 {
    border-bottom: solid 0.3rem #8C2B53;
}

#title {
    margin : auto;
    width:33%;
}


#navigate-button {
    display:block;
    margin:auto;
}

/*display the select and upload button on a row, and center them in their parent element */
#image-select {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

/*all the frame containing result elements are in row and applies th wrap display */
/*this wrap display is centered in its parent element via justify-content */
#img-container {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;

    justify-content: center;

    width : 33%;
    margin:auto;

    background-color: #fff;
    border-radius: 0.4rem;
    padding:0.7rem;
}


/*frame containing the image and the suppress button */
#img-elt {
    
   /*background-color: grey;
   border: 1px solid green; */

   background-color: silver;
   border : solid dimgrey;
   border-radius: 0.4rem;
  
   height: 100%; 
   margin:1%; 

    display:flex;
    flex-direction: column;
    justify-content: center;
} 

/*reducing image size into parent div and center image */
#image-uploaded {
    width: 80%;
    height: 80%; 

     border: 2px solid darkgray;

   margin:auto; 
}


/* for Ipad Pro and Ipad : 80% of full screen display (1024px and less)*/
@media screen and (max-width: 1024px) {

    #img-container {
        width : 80%;
    }

}
    
    
    /* for mobile phones and all tablets equals or less than 767px,
    labels and inputs are displayed in column and at full screen width */
    @media screen and (max-width: 767px) {
    

    #title {
        width:80%;
    }
        
}

 