/*center the titles */
h1, p {
    text-align: center;
}

.navigate-button {
    display:block;
    margin:auto;
}

/*display the select and upload button on a row, and center them in their parent element */
.image-select {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

/*all the frame containing result elements are in row and applies th wrap display */
/*this wrap display is centerd in its parent element via justify-content */
.img-container {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;

    justify-content: center;

}


/*frame containing the image and the suppress button */
.img-elt {
    
    background-color: grey;

    border: 1px solid green;
  
    width : 30%;
    height: 100%;
    margin:1%;

    display:flex;
    flex-direction: column;
    justify-content: center;
} 

/*reducing image size into parent div and center image */
.image-uploaded {
    width: 80%;
    height: 80%;

     border: 2px solid darkgray;

    margin:auto;
}

/*center the button in its parent element */
.suppress-button {

    width:20%;
    margin:1% auto;

}

 