<h1>Liste des annonces</h1>

<!--filter form to select offers on some criteria-->
<form [formGroup]="filterForm" (ngSubmit)="onFilter(filterForm.value)">
    <label for="brand">Marque</label>
    <input type="text" id="brand" formControlName="brand">
    
    <label for="lowest">Prix minimum</label>
    <input type="number" id="lowest" formControlName="lowestPrice">
    
    <label for="highest">Prix maximum</label>
    <input type="number" id="highest" formControlName="highestPrice">
    
    <button>Filtrer les annonces</button>
</form>

<!--displaying list of offers retrieved form Offer database-->
<div id="offer-list">
    <div class="offer-list-result" *ngFor="let offer of offerListObs | async">
        <div class="offer-list-text">
            <h3>Date de l'offre: {{offer.date | date : 'dd/MM/yyyy'}}</h3>
            
            <h3>Marque: {{offer.carBrand}}</h3>
            <h3>Modèle: {{offer.carModel}}</h3>
            <h3>Prix: {{offer.price}} euros</h3>
        </div>
        <div class="offer-list-link">
            <h3><a [routerLink]="['offerDetail', offer.id]">Consulter</a></h3>
        </div>
        <div class="offer-list-image" *ngIf="offer.images[0]; else noPhoto"> 
        <!--<div class="offer-list-image" *ngFor="let image of offer.images; let i = index"> -->
            <!--<h3>test là où je vais mettre une image</h3> -->
            <!--<img class="image-showcase" src="https://img.autoplus.fr/news/2020/01/28/1545980/dd93e16662b77b72595ac6e8-1200-800.jpg" alt="offer-image"> -->
            <!--<img class="image-showcase" src="data:image/jpeg;base64,{{image[0]?.picByte}}"> -->
            <img class="image-showcase" src="data:image/jpeg;base64,{{offer.images[0].picByte}}"> 
        </div>
        
        <ng-template #noPhoto>
            <div class="offer-list-image">
                <img class="image-showcase" src="https://img.autoplus.fr/news/2020/01/28/1545980/dd93e16662b77b72595ac6e8-1200-800.jpg" alt="offer-image">
            </div>
        </ng-template>
            <!-- <ng-template #nophoto>test no photo</ng-template> -->
            <!--<ng-template #nophoto><img class="image-showcase" src="https://img.autoplus.fr/news/2020/01/28/1545980/dd93e16662b77b72595ac6e8-1200-800.jpg" alt="offer-image"></ng-template> -->
        
    </div>
</div>
