/*******************************************************************/
/***************** General rules for the whole template ************/
/*******************************************************************/



/*titles h1 and h2 are page centered */
h1 {
    text-align: center;  
}

p {
    font-size: 1.2em;

}

h2 {
    /*border-bottom: solid 0.3rem darkgray; */
    border-bottom: solid 0.3rem #8C2B53;
    /*color:#8C2B53; */
    
}

.title {
    margin : auto;
    width:33%;
}

#offer-number p {
    text-align: center;
}



/*******************************************************************/
/***************** Form filter specific rules **********************/
/*******************************************************************/

/*container selector of deposit form items. Content form items are displayed in column and page centered*/
.filter-form {
    display:flex;
    flex-direction: column;

    margin : auto;
    width:33%;
}


/*form content items are themselves container selector of their inner elements. Inner Elements are displayed in row
and label and input at each side */
.filter-form-elt {
    display:flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top:1%;
}

/*radio buttons are displayed at extreme right of the element */
.filter-form-elt-radio {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
   
}


/*colorisation of input and informational/error messages */
.error-effect-title, .message {
    color:lightcoral
}

/* the submit button "Filtrer les annonces" is page centered */
.submit-button {

    margin: 1% auto;
   
}

/*******************************************************************/
/***************** Paging and sorting specific rules ***************/
/*******************************************************************/

/* sort choice and nb offer/page choice are diaplayed in row and page centered */ 
.sort-nb-offer-choices {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    width : 30%;
    margin:auto;
}

.sort-choice {

    margin:auto;
}

.nb-offers-choice {
 
    margin:auto;
}

/*******************************************************************/
/***************** Displaying offer list specific rules ************/
/*******************************************************************/

/* offers are displayed on a single column */
#offer-list{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

/* one frame contains 3 parts of an offer in a row : text, consult detail link, showcase image */
.offer-list-result {
    background-color: silver;
    border : solid grey;

    width: 50%;
   
    margin:10px;

    display:flex;
    flex-wrap:nowrap;
    justify-content: space-between;

    align-items: center;
    
}

/*part one of an offer on the left side: short text description */
/* flex 1 allows to adjust the space ratio that each element takes n= 1 for all indicates each takes the same space*/
.offer-list-text {
    text-align: left;
    
    flex: 1; /*note  :equivalent to flex: 1 0 0; */

}

/*part two of an offer on the center : detail consulting link */
/* flex 1 allows to adjust the space ratio that each element takes n= 1 for all indicates each takes the same space*/
.offer-list-link {
    text-align: center;

    flex: 1;
}

.offer-list-link button {
    margin : 1% auto;
    min-width:30%;
} 

/*part three of an offer on the right side : showcase of the first image stored */
/* flex 1 allows to adjust the space ratio that each element takes n= 1 for all indicates each takes the same space*/
.offer-list-image{

    flex: 1;
   
    width:100%;                       
    height: 100%; 

    display: flex;
    align-items: center;
    justify-content: center;
}

/* image takes full space of parent div and respecting image proportions */
.image-showcase {
    max-width: 100%;
    max-height: 100%;
}

/*******************************************************************/
/***************** Displaying offer list specific rules ************/
/*******************************************************************/

/* Pagination menu is displayed in a row */
.pagination-items-list {
    display: flex;
    flex-direction: row;

    justify-content: center;
}

/*pagination list items : no specific mark*/
ul {
    list-style-type: none;
}


li {
    border : 1px solid black;
    border-collapse: collapse;

    padding-left: 1.5%;
    padding-right: 1.5%;
}


/*the pagination choices which are not selectable are shown a bit less opaque */
.is-disable {

    pointer-events: none;
    opacity: 0.3;
}
