/*******************************************************************/
/***************** General rules for the whole template ************/
/*******************************************************************/



/*titles h1 and h2 are page centered */
h1 {
    width : 33%;
    margin:0.7rem auto;
    background-color: #fff;
    text-align: center;  
    border-radius: 0.4rem;
}


/*undeline h2 title with swooosh effect */
h2 {

    border-bottom: solid 0.3rem #8C2B53;
 
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.2rem;
}

.title {
    margin : auto;
    width:33%;
}

#offer-number p {
    text-align: center;
}

#offer-list-result p {
    margin:0;

}


/*******************************************************************/
/***************** Form filter specific rules **********************/
/*******************************************************************/

#filter-form select {
    width:20%;
}

/*container selector of deposit form items. Content form items are displayed in column and page centered*/
#filter-form {
    display:flex;
    flex-direction: column;

    margin : auto;
    width:33%;

    background-color: #fff;
    border-radius: 0.4rem;
    padding:0.7rem;
}


/*form content items are themselves container selector of their inner elements. Inner Elements are displayed in row
and label and input at each side */
.filter-form-elt {
    display:flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top:1%;
}


/*colorisation of input and informational/error messages */
.error-effect-title {
    color:lightcoral
}

/* the submit button "Filtrer les annonces" is page centered */
#submit-button {

    margin: 1% auto;
   
}

/*coloring the number of offers */
#totalNbOffers{
    color:#8C2B53;
    font-weight: bolder;
}

/*******************************************************************/
/***************** Paging and sorting specific rules ***************/
/*******************************************************************/

/* sort choice and nb offer/page choice are diaplayed in row and page centered */ 
#sort-nb-offer-choices {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    width : 33%;
    margin:auto;
    margin-bottom:1rem; /*mod*/

    background-color: rgb(255,255,255);
    border-radius: 0.4rem;
    padding:0.7rem;  /*add*/
}

#sort-choice {
    margin:auto;
}

#nb-offers-choice {
    margin:auto;
}

/*******************************************************************/
/***************** Displaying offer list specific rules ************/
/*******************************************************************/

/* offers are displayed on a single column */
#offer-list{
    width  :33%; /*add*/
    margin: auto; /*add*/

    background-color: #fff; 

    padding:0.7rem;
  
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

/* one frame contains 3 parts of an offer in a row : text, consult detail link, showcase image */
#offer-list-result {

   
    border-top : solid #e9ebee;
   

    display:flex;
    flex-wrap:nowrap;
    justify-content: space-between;


    width: 100%;

    
}


#offer-list-result {
    outline: none;
    text-decoration: none;  /* no undelined link */
    background-color: #fff; 
}

#offer-list-result:link, #offer-list-result:visited, #offer-list-result:focus, #offer-list-result:hover, #offer-list-result:active  {
    color : black;
}

/*
#offer-list-result:visited{
    color : black;

} 

#offer-list-result:focus{
    color : black;
} */

#offer-list-result:hover{
    /*color : black; */
    background-color: #e9ebee;

}

/*
#offer-list-result:active{
    color : black;

} */



/*part one of an offer on the left side: short text description */
/* flex 1 allows to adjust the space ratio that each element takes n= 1 for all indicates each takes the same space*/
#offer-list-text {
   
 
    flex: 1; /*note  :equivalent to flex: 1 0 0; */

}

#price {
    color:#8C2B53;
}



/*part three of an offer on the right side : showcase of the first image stored */
/* flex 1 allows to adjust the space ratio that each element takes n= 1 for all indicates each takes the same space*/
.offer-list-image{

    flex: 1;
   
    width:100%;                       
    height: 100%; 


    display: flex;
    align-items: center;
    justify-content: center;
}

/* image takes full space of parent div and respecting image proportions */
.image-showcase {
    max-width: 100%;
    max-height: 100%;
}

/*******************************************************************/
/***************** Displaying offer list specific rules ************/
/*******************************************************************/



/*pagination list items : no specific mark*/
ul {

    padding : 0; /* a left padding exists by default on ul */
   
    width: 33%;
    list-style-type: none;

    margin : auto; /*center the list in the nav bar */

    list-style-type: none;
}


li {

   display: inline; /* <li> are block by default ("list-item"), which means 1 <li> takes one line which we don't want */


}

/* <a> elements decide for appearance (not the <li> decide) */
.pagination-item a {
    display: inline-block;  /*in order to modify its dimensions - allow to set width and height */

    outline: none;
    text-align: center;
    text-decoration: none; /* no undelined link */

    color:black;


   
    width : 25%; /*width of one <li>. There are 4 <Li> elements + border : must match 100% */

    /* height of <a> is bigger than height of <li> */
    line-height: 3; /* 3 times police height : consequence : center vertically the text */

}

.pagination-item a:link{
    background-color: whitesmoke;
}

.pagination-item a:visited{
    background-color:whitesmoke; /*after a link has been visited */ 

} 

.pagination-item a:focus{
    background-color:whitesmoke; /*when gets the focus, ie the default which is activated when enter is pressed */
} 

.pagination-item a:hover{
    background-color : #3A913F;

}

.pagination-item a:active{
    background-color : #8C2B53; /* when user click on link */

}


/*the pagination choices which are not selectable are shown a bit less opaque */
.is-disable {

    pointer-events: none;
    opacity: 0.3;
}

/* for Ipad Pro and Ipad : 80% of full screen display (1024px and less)*/
@media screen and (max-width: 1024px) {

    h1, .title {
        width:80%;
    }

    #filter-form, #offer-list, #sort-nb-offer-choices, ul   {
        width:80%;
    }

    .pagination-item a {
        width : 30%; /*width of one <li>. There are 3 <Li> elements + border + actual page display: must match 100% */
    }
}
    
    
/* for mobile phones and all tablets equals or less than 767px,
labels and inputs are displayed in column and at full screen width */
@media screen and (max-width: 767px) {
    

    
    
    .filter-form-elt {
        flex-direction: column;
        align-items: center;
    }


    #filter-form select {
        width:40%;
    }

    #sort-nb-offer-choices{
        flex-direction: column;
        align-items: flex-start;
    }

    #sort-nb-offer-choices select{
        width:30%;

    }

    #sort-choice, #nb-offers-choice {
        margin:0;
    }
    
    ul a, ul li{
        line-height: 3;
        font-size: 0.6rem;
    }

    p, label{
        font-size:1rem;
    }

    .pagination-item a {  
        width : 28%; /*width of one <li>. There are 3 <Li> elements + border + actual page display: must match 100% */
    }

    .error-effect-title {
        text-align: center;
    }    
}


