<h1>Annonces en ligne</h1>

<div class="title">
  <h2>Filtrer les annonces</h2>
</div>

<!--filter form to select offers on some criteria-->
<form [formGroup]="filterForm" (ngSubmit)="onFilter(filterForm.value)">  
    
    <div class="filter-form">

            <div class="filter-form-elt">
              <label for="dpt-code">Département où se trouve le véhicule:</label>
              <input  type="text"
                      formControlName="dptCode"
                      size="4"
                      maxlength="3"
                      id="dpt-code">
            </div>
            <!--check error on field : 
              -when a user click on the field (touched) or modifies it (dirty)
               -or when the user submits the form  -->
            <div *ngIf="isInvalid('dptCode')">
              <div class="error-effect-title">
                La région doit être valide
              </div>
            </div>
            
            <!--displaying Brand choices retrieved from the service brand list-->
            <div class="filter-form-elt">
              <label>Marque:</label>
              <select formControlName="carBrand" (change)="onCarBrandChange($event)">
                <option value="">Marque</option>
                <option [value]="brand.codigo+';'+brand.nome" *ngFor="let brand of brandListAPI">{{brand.nome}}</option>
              </select>
            </div>

        
            <div class="filter-form-elt">
              <label>Modèle:</label>
              <select formControlName="carModel">
                <option value="">Modèle</option>
                <option value={{model.nome}} *ngFor="let model of modelListAPI">{{model.nome}} </option>
              </select>
            </div>
        
        
            <div class="filter-form-elt">
              <label>Année du véhicule:</label>
              <select formControlName="year">
                <option value={{year.yearValue}} *ngFor="let year of yearList">{{year.yearValue}}</option>
                <option value="">Année</option>
              </select>
            </div>

        
            <p>Boite de vitesse :</p>
            <div class="filter-form-elt-radio">
        
              <input type="radio" id="manualChoice" formControlName="gearbox" value="Manuelle">
              <label for="manualChoice">Manuelle</label>
              
              <input type="radio" id="autoChoice" formControlName="gearbox" value="Automatique">
              <label for="autoChoice">Automatique</label>
            
            </div>
        
        
            <div class="filter-form-elt">
              <label for="lowest">Prix mini- euros: </label>
              <input  type="text" 
                      formControlName="lowestPrice"
                      size="5"
                      maxlength="6"
                      id="lowest">
            </div>

            <div *ngIf="isInvalid('lowestPrice')">
              <div class="error-effect-title">
                Le prix doit être numérique et entier sans virgule
              </div>
            </div>

            <div class="filter-form-elt">
              <label for="highest">Prix maxi- euros: </label>
              <input  type="text" 
                      formControlName="highestPrice"
                      size="5"
                      maxlength="6"
                      id="highest">
            </div>

            <div *ngIf="isInvalid('highestPrice')">
              <div class="error-effect-title">
                Le prix doit être numérique et entier sans virgule
              </div>
            </div>

        
            <div class="filter-form-elt">
                <button class="submit-button" type="submit">Filtrer les annonces</button> 
            </div>
        
          </div>

</form>

<!--displaying specific message if no offer retrieved-->
<div id="offer-number">
  <p *ngIf="contentTotalOffers > 0 ; else noOffer"><span id="totalNbOffers">{{contentTotalOffers}}</span> annonce{{singularPluralChar}} !</p>
  <ng-template #noOffer><p>Aucune annonce</p></ng-template>
</div>

<div *ngIf="contentTotalOffers > 0" class="title">
  <h2>Liste des annonces</h2>
</div>

<!--displaying sort choices-->
<div class="sort-nb-offer-choices">
  <div *ngIf="contentTotalOffers > 0" class="sort-choice">
    <label>Afficher en premier : </label>
    <select #sortChoice (change)="onSortSelectChange(sortChoice.value)">
    <option value="dateDESC">Annonces récentes</option>
    <option value="dateASC">Annonces anciennes</option>
    <option value="yearDESC">Véhicules récents</option>
    <option value="yearASC">Véhicules anciens</option>
    <option value="priceDESC">les + chères</option>
    <option value="priceASC">les - chères</option>
    </select>
  </div>

  <!--displaying number of offer per page choices-->
  <div *ngIf="contentTotalOffers > 0" class="nb-offers-choice">
    <label>Annonces par page : </label>
    <select #offersPerPageChoice (change)="onNbOffersPerPageChange(offersPerPageChoice.value)">
    <option value="3">3</option>
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="15">15</option>
    <option value="20">20</option>
    </select>
  </div>
</div>

<!--displaying list of offers retrieved from database-->
<div id="offer-list" >
      <div  *ngFor="let offer of pageContent">
          <a class="offer-list-result" [routerLink]="['offerDetail', offer.id]">
          <div class="offer-list-text">
            <p><strong>{{offer.carBrand}} {{offer.carModel}}</strong></p>
            <p id="price"><strong>{{offer.price | currency:'EUR':'symbol':'1.0-0'}}</strong></p>
            <p>{{offer.postalCode}}</p>
            <br>
            <p>{{offer.date | date : 'dd/MM/yyyy'}}, {{offer.date | date : 'HH:mm'}}</p>
          </div>
          <div class="offer-list-image" *ngIf="offer.images[0]; else noPhoto"> 
              <img class="image-showcase" src="data:image/jpeg;base64,{{offer.images[0].picByte}}"> 
          </div>
          
          <ng-template #noPhoto>
              <div class="offer-list-image">
                  <img class="image-showcase" src="https://img.autoplus.fr/news/2020/01/28/1545980/dd93e16662b77b72595ac6e8-1200-800.jpg" alt="offer-image">
              </div>
          </ng-template>
        </a>
    </div>
</div>

<!--Pagination menu-->
<ul *ngIf="contentTotalOffers > 0" class="pagination-items-list">
    <li class="pagination-item">
      <a [ngClass]="{'is-disable': isFirstPage}" href='#offer-list' (click)="displayPaginationPage(0)">Première page</a>
    </li>
    <li class="pagination-item">
      <a [ngClass]="{'is-disable': isFirstPage}" href='#offer-list' (click)="displayPaginationPage(actualPageNumber - 1)">Page précédente</a>
    </li>
    <li class="pagination-item">Page {{actualPageNumber + 1}}/{{contentTotalPages}}</li>
    <li class="pagination-item">
      <a [ngClass]="{'is-disable': isLastPage}" href='#offer-list' (click)="displayPaginationPage(actualPageNumber + 1)">Page suivante</a>
    </li>
</ul>


