
/*******************************************************************/
/***************** General rules for the whole template ************/
/*******************************************************************/


h2 {
    /*border-bottom: solid 0.3rem darkgray; */
    border-bottom: solid 0.3rem #8C2B53;
}

.title {
    margin : auto;
    width:50%;
} 

/***************** general container **********************************/
.offer-detail {
    width:50%;
    margin : auto;
}


/***************** border for all details content **********************************/

.img-container, .offer-summary, .offer-description, .offer-option-equipment, .offer-seller-infos {
    border : 1px solid black;
}

/***************** relative width for all details content ******************************/
.offer-description , .offer-summary, .offer-option-equipment, .offer-seller-infos {
    width : 85%;
}


/*container : title div + detail div */
.item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-title {

    margin-top: 0;
    width : 15%;

    text-align: left;
}

p {
    font-size: 1.2em;

}



/*******************************************************************/
/***************** Specific rules **********************************/
/*******************************************************************/


/***************** date and price **********************************/
/*  date and price on a row in each side of a div */
.offer-date-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

/***************** offer description **********************************/
/* pre-line to respect Break lines  */
.offer-description p {
    text-align: left;
    white-space: pre-line;

    line-height: normal;

}

/***************** seller information **********************************/
/* adding a bit of space inside the parent div */
.offer-seller-infos p, .offer-description p {
    margin: 1%;
} 


/***************** options and equipemts **********************************/
/* displaying in flex wrap all options and equipments  */
.offer-option-equipment {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/***************** centering the table of options and equipemts **********************************/
table {
    margin:auto;
    width : 100%;
}


th, td {
    text-align: center;

}


/*all the frame containing result elements are in row without wrap display to allow scroll */
.img-container {
    display: flex;
    flex-direction: row;  

    align-items: center;

    overflow: scroll;

}

/*****************  frame containing the image **********************************/
/*respecting image scale full height and a fixed 45% ratio */
.img-elt {
    height: 100%;

    min-width: 45%;
    max-width: 45%;

    margin: auto; /*to center and allow scroll without hidden pictures on the left */

    display:flex;
    flex-direction: column;
    justify-content: center;

} 

/*reducing image size into parent div and center image */
.image-uploaded {
    width: 80%;
    height: 80%;

    border: 2px solid darkgray;

    margin:auto;

}

/*****************  choice buttons **********************************/
.buy-buttons {
    display: flex;
    justify-content: center;
}

.buy-choice-button {
    margin : 1%;

}
