
<div class="title">
    <h2>Détail de l'annonce</h2>
</div> 

<!--for each Offer retrieved in dabatabe, display the attributes-->
<div *ngIf="offerDetailObs  | async as offerDetail" class="offer-detail">


    <div class="offer-date-price">
            <p>Annonce du {{offerDetail.date | date : 'dd/MM/yyyy'}}</p>
            <p><strong>{{offerDetail.price | currency:'EUR':'symbol':'1.0-0'}}</strong></p>
    </div>

    <br *ngIf="offerDetail.images[0]">

    <!--display images of the car if present-->
    <div *ngIf="offerDetail.images[0]">

        <div class="img-container">

            <div class="img-elt" *ngFor="let image of offerDetail.images">
                <img class="image-uploaded" src="data:image/jpeg;base64,{{image.picByte}}"> 
            </div>

        </div>
    </div>

    <br>

    <!--table display of general details of an offer-->
    <div class="item-container">
        <h3 class="item-title">Détails :</h3>
        <div class="offer-summary">
            <table>
                <tr>
                    <th>Marque</th>
                    <th>Modèle</th>
                    <th>Année</th>
                    <th>Boite de vitesse</th>
                    <th>4 roues motrices</th>
                </tr>
        
                <tr>
                    <td>{{offerDetail.carBrand}}</td>
                    <td>{{offerDetail.carModel}}</td>
                    <td>{{offerDetail.year}}</td>
                    <td>{{offerDetail.gearbox}}</td>
                    <td *ngIf="offerDetail.fourWheelDrive==false">Non</td>
                    <ng-template><td>Oui</td></ng-template>
                </tr>
            </table>
        </div>
    </div>


    <br *ngIf="offerDetail.description">


    <!--if a description is present in database, displaying it-->
    <div *ngIf="offerDetail.description" class="item-container">
        <h3 class="item-title">Description :</h3>
        <div  class="offer-description">
                <p>{{offerDetail.description}}</p>
        </div>
    </div>

    <br *ngIf="offerDetail.equipments[0]">

    <!--display list of options and equipments if present-->
     <!--loop on equipment array to print equipement -->
    <div *ngIf="offerDetail.equipments[0]" class="item-container">
        <h3 class="item-title">Options et équipements : </h3>
        <div  class="offer-option-equipment">
            <ul *ngFor="let equip of offerDetail.equipments">
                <li>{{equip.label}}</li>
            </ul>
        </div>
    </div> 

    <br>

    <!--display information about the client who submitted the offer-->
    <div class="item-container">
        <h3 class="item-title">Informations sur le vendeur :</h3>
        <div class="offer-seller-infos">
                <p>Email: <strong>{{offerDetail.user.email}}</strong></p>
        </div>
    </div>

    <br>


    <div *ngIf="!offerDetail.sale" class="buy-buttons">
        <button (click)="onBuy(offerDetail.id)">Acheter</button>
   
        <button class="buy-choice-button" (click)="onLoan(offerDetail.id)">Simuler un crédit</button> 
    </div>

</div>

<!-- <div id="paypal-button-container"></div> -->
     <!--<button class="buy-choice-button">Acheter au comptant</button> -->

    <!--
    <div *ngIf="offerDetail.equipments[0]" class="item-container">
        <h3 class="item-title">Options et équipements : </h3>
        <div  class="offer-option-equipment">
            <p>Intérieur</p>
            <ul *ngFor="let equip of offerDetail.equipments">
                <li *ngIf="(equip.type=='interior')">{{equip.label}}</li>
            </ul>

            <p>Extérieur</p>
            <ul *ngFor="let equip of offerDetail.equipments">
                <li *ngIf="equip.type=='exterior'">{{equip.label}}</li>
            </ul>
            <p>Confort</p>
            <ul *ngFor="let equip of offerDetail.equipments">
                <li *ngIf="equip.type=='comfort'">{{equip.label}}</li>
            </ul> 
        </div>
    </div> -->


