/*******************************************************************/
/***************** General rules for the whole template ************/
/*******************************************************************/

/*center the h1 titles and the advice at the beginning of the page */
h1, #advice {
    text-align: center;
}


/*******************************************************************/
/***************** Specific rules **********************************/
/*******************************************************************/

/*container selector of deposit form items. Items are displayed in column and page centered*/

.if-not-connected {
    text-align: center;
}
.if-not-connected-button {
/*display: inline;*/
margin:1%;

}

.deposit-form {
    display:flex;
    flex-direction: column;

    margin : auto;
    width:33%;

   /* pointer-events: none;
    opacity: 0.3; */
} 

.is-disable {

    pointer-events: none;
    opacity: 0.3;
}




/*form items are themselves container selector of their inner elements. Elements are displayed in row
and label and input at each side */
.deposit-form-elt {
    display:flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top:1%;
}

/* simulating h3 font size and font weight for deposit-form element label style */
/*.deposit-form-elt-label { 
    font-size: 1.13em;
    font-weight: bold;
} */

/*radio buttons are displayed at extreme right of the element */
.deposit-form-elt-radio {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;

    
}


/*colorisation of input and error/informationnal messages */
.error-effect-title, .message {
    color:lightcoral
}

.submit-button {

    margin: 1% auto;
   
}


