/*******************************************************************/
/***************** General rules for the whole template ************/
/*******************************************************************/

/*center the h1 titles and the advice at the beginning of the page */
h1, #advice {
    text-align: center;
}

/* h2 titles are undelined */
h2 {

    border-bottom: solid 0.3rem #8C2B53;
}

.title {
    margin : auto;
    width:33%;
}


/*******************************************************************/
/***************** Specific rules **********************************/
/*******************************************************************/


.if-not-connected {
    text-align: center;
}

.if-not-connected-button {
/*display: inline;*/
    margin:1%;
}

/* disable a specific part of the template when user not connected */
.is-disable {
    pointer-events: none;
    opacity: 0.3;
}


/*container selector of deposit form items. Items are displayed in column and page centered*/
.deposit-form {
    display:flex;
    flex-direction: column;

    margin : auto;
    width:33%;
} 



/*form items are themselves container selector of their inner elements. Elements are displayed in row
and label and input at each side */
.deposit-form-elt {
    display:flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top:1%;
}

/* simulating h3 font size and font weight for deposit-form element label style */
/*.deposit-form-elt-label { 
    font-size: 1.13em;
    font-weight: bold;
} */

/*radio buttons are displayed at extreme right of the element */
.deposit-form-elt-radio {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    
}


/*colorisation of input and error/informationnal messages */
.error-effect-title, .message {
    color:lightcoral;
}

.submit-button {
    margin: 1% auto;
}


