
<div *ngIf="!isLoggedIn" class="if-not-connected">
  <p>Connectez-vous ou inscrivez-vous pour déposer une annonce</p>

  <!--<a routerLink="/login" queryParams="{redirectURL:/deposit}">Se connecter</a> -->
  <button (click)="onLoginchoice()" class="if-not-connected-button">Se connecter</button> 
  <button routerLink="/register" class="if-not-connected-button">S'inscrire</button> <!--address starting with / : absolute route-->

</div>

<h1 *ngIf="isLoggedIn">Nouvelle annonce</h1>

<div *ngIf="isLoggedIn" class="title">
    <h2>Informations générales</h2>
</div>


<!--deposit form containing basis information and corresponding to Offer entity in the model-->
<form [formGroup]="depositForm" [ngClass]="{'is-disable': !isLoggedIn}" (ngSubmit)="onDeposit(depositForm.value)">

  <div class="deposit-form">

      <h5 id="advice">Les champs marqués d'un (*) sont obligatoires</h5>

    <div class="deposit-form-elt">
      <label class="deposit-form-elt-label" for="post-code">Code postal où se trouve le véhicule (*):</label>
      <input  type="text"
              formControlName="postalCode"
              size="4"
              maxlength="5"
              id="post-code">
    </div>
    <!--check error on field : 
      -when a user click on the field (touched) or modifies it (dirty) or
      -when the user submits the form  -->
    <div *ngIf="isInvalid('postalCode')">
      <div  class="error-effect-title">
        Le code postal doit être valide
      </div>
    </div>


    <!--displaying Brand choices retrieved from the service brand list-->
    <div class="deposit-form-elt">
      <label class="deposit-form-elt-label">Marque (*):</label>
      <select formControlName="carBrand" (change)="onCarBrandChange($event)">
        <option value="">Marque</option> 
        <option [value]="brand.codigo+';'+brand.nome" *ngFor="let brand of brandListAPI">{{brand.nome}}</option>

      </select>
    </div>
    <div *ngIf="isInvalid('carBrand')">
      <div class="error-effect-title">
          La marque est obligatoire
      </div>
    </div>


    <!--displaying model choices retrieved from the service model list-->
    <div class="deposit-form-elt">
      <label class="deposit-form-elt-label">Modèle (*):</label>
      <select formControlName="carModel">
        <option value="">Modèle</option>
        <option value={{model.nome}} *ngFor="let model of modelListAPI">{{model.nome}}</option>
      </select>
    </div>
    <div *ngIf="isInvalid('carModel')">
        <div class="error-effect-title">
            Le modèle est obligatoire
        </div>
    </div>


    <div class="deposit-form-elt">
      <label class="deposit-form-elt-label">Année du véhicule (*):</label>
      <select formControlName="year">
        <option value="">Année</option>
        <option value={{year.yearValue}} *ngFor="let year of yearList">{{year.yearValue}}</option>
      </select>
    </div>
    <div *ngIf="isInvalid('year')">
        <div class="error-effect-title">
            L'année du véhicule est obligatoire
        </div>
    </div>


    <p class="deposit-form-elt-label">Boite de vitesse :</p>
    <div class="deposit-form-elt-radio">

      <input type="radio" id="manualChoice" formControlName="gearbox" value="Manuelle">
      <label for="manualChoice">Manuelle</label>

      <input type="radio" id="autoChoice" formControlName="gearbox" value="Automatique">
      <label for="autoChoice">Automatique</label>

    </div>

    <div class="deposit-form-elt">
      <label class="deposit-form-elt-label" for="ext-color">Couleur extérieure :</label>
      <input  type="text"
              formControlName="outerColor"
              id="ext-color"
              placeholder="Exemple : bleu nuit">
    </div>
    <div *ngIf="isInvalid('outerColor')">
        <div class="error-effect-title">
            La couleur ne doit comporter que des lettres
        </div>
    </div> 



    <p class="deposit-form-elt-label">4 roues motrices :</p>
    <div class="deposit-form-elt-radio">

      <input type="radio" id="fwdChoiceNo" formControlName="fourWheelDrive" value=false>
      <label for="fwdChoiceNo">Non</label>

      <input type="radio" id="fwdChoiceYes" formControlName="fourWheelDrive" value=true>
      <label for="fwdChoiceYes">Oui</label>


    </div>

    <div class="deposit-form-elt">
      <label class="deposit-form-elt-label" for="description">Descriptif de l'annonce :</label>
      <textarea   id="description"
                  formControlName="description" 
                  rows="10" 
                  cols="45"
                  placeholder="Détails de l'annonce">
      </textarea>
    </div>

    <div class="deposit-form-elt">
      <label class="deposit-form-elt-label" for="price">Prix - euros (*): </label>
      <input  type="text" 
              formControlName="price"
              size="5"
              maxlength="6"
              id="price">
    </div>
    <div *ngIf="isInvalid('price')">
        <div class="error-effect-title">
            Le prix doit être numérique et entier sans virgule
        </div>
    </div>


    <div class="deposit-form-elt">
      <button class="submit-button" type="submit">Enregistrer mon annonce !</button>
      <!--<button class="submit-button" type="submit" [disabled]="!depositForm.dirty">Enregistrer l'annonce</button> -->
    </div>

  </div>

</form>


<!--print a message if a message is generated by one of the functions-->
<p *ngIf="message" class="message">{{message}}</p>