h1 {
    text-align: center;
}

.if-not-connected {
    text-align: center;
}

.if-not-connected-button {
    margin:1%;
}

/* disable a specific part of the template when user not connected */
.is-disable {
    pointer-events: none;
    opacity: 0.3;
}

#paypal-button-container {
    width:100px;
    margin:auto;
}

#mirror-price{
    display: none;
}