/* You can add global styles to this file, and also import other style files */

.message {

    text-align:center;
}

button {
    background-color: #3A913F;
    border-color: #2e7432;
    color:#fff;
    border-radius: 0.3rem;
    transition-duration: 0.2s;
    height: 1.5rem;
}

button:hover{
    /*background-color: darkgray; */
    box-shadow: 0.3rem 0.3rem 0.5rem dimgray;
    cursor: pointer;
  
}

body {
    /*background-color: #C9C9C9;*/
   /*background-color: whitesmoke; */
   background-color: #e9ebee;
}

input {

    font-size: 1.2rem;
    border : solid 1px dimgray;
    border-radius: 0.4rem;

    padding-left: 0.4rem;
}

input:focus{
    background-color: #FFC2DB;
    outline: none;
}

textarea{
    border : solid 1px dimgrey;
    border-radius: 0.4rem;
}

select {

    padding: 0.5rem 1.2rem;
    border : solid 1px dimgrey;
    border-radius: 0.4rem;
    background-color: #f1f1f1;
  }

  select:focus{
    outline: none;
  }

  label {
      font-size: 1.2rem;
  }

  p {
    font-size: 1.2rem;
    }
