/*center the h1 titles and the advice at the beginning of the page */
#advice, .message {
    text-align: center;
}

h1 {
    width : 80%;
    margin:0.7rem auto;
    background-color: #fff;
    text-align: center;  
    border-radius: 0.4rem;
}


h2 {
    border-bottom: solid 0.3rem #8C2B53;

    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.2rem;
}

.title {
    margin : auto;
    width:33%;
}



#deposit-form {
    display:flex;
    flex-direction: column;

    margin : auto;
    width:33%;

    background-color: #fff;
    border-radius: 0.4rem;
    padding:0.7rem;
} 

.is-disable {

    pointer-events: none;
    opacity: 0.3;
}



/*form items are themselves container selector of their inner elements. Elements are displayed in row
and label and input at each side */
.deposit-form-elt {
    display:flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top:1%;
}



/*colorisation of input and error/informationnal messages */
.error-effect-title, .message {
    color:lightcoral
}

.submit-button {

    margin: 1% auto;
   
}

/**** Images ************************************/

/*display the select and upload button on a row, and center them in their parent element */
#image-select {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

/*all the frame containing result elements are in row and applies th wrap display */
/*this wrap display is centerd in its parent element via justify-content */
#img-container {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;

    justify-content: center;

    width : 33%;
    margin:auto;

    background-color: #fff;
    border-radius: 0.4rem;
    padding:0.7rem;



}


/*frame containing the image and the suppress/update button */
#img-elt {
    
    background-color: grey;
    border : solid dimgrey;
    border-radius: 0.4rem;
  
    height: 100%;
    margin:1%;

    display:flex;
    flex-direction: column;
    justify-content: center;
} 

/*reducing image size into parent div and center image */
#image-uploaded {
    width: 80%;
    height: 80%;

     border: 2px solid darkgray;

    margin:auto;
}

/*center the button in its parent element */
#suppress-button {

    width:20%;
    margin:1% auto;

}

/**** Equipment ************************************/

#check-form {
    margin:auto;
    width:33%;

    background-color: #fff;
    border-radius: 0.4rem;
    padding:0.7rem;

}

#check-list {
  
    border : 1px solid darkgray;

    display: flex;
    flex-direction: column;
}

#submit-button {
  
    margin : auto;
    display:block;
}

/* for Ipad Pro and Ipad : 80% of full screen display (1024px and less)*/
@media screen and (max-width: 1024px) {

    #deposit-form   {
        width:80%;
    }

    #img-container {
    
        width : 80%;

    }

    #check-form {
        width:80%;
    }


}
    
    
/* for mobile phones and all tablets equals or less than 767px,
labels and inputs are displayed in column and at full screen width */
@media screen and (max-width: 767px) {
    
    h1, .title, textarea {
        width:80%;
    }
    
    
    .deposit-form-elt {
        flex-direction: column;
        align-items: center;
    }


    #deposit-form select {
        width:40%;
    }

    #suppress-button{

    width:80px;

    } 



    p, label{
        font-size:1rem;
    }

    .error-effect-title {
        text-align: center;
    }    
}