
 <h1>Modification d'une annonce</h1>

 <div class="title">
  <h2>Informations générales</h2>
</div>


<!--deposit form containing basis information and corresponding to Offer entity in the model-->
<form [formGroup]="depositForm"  (ngSubmit)="onUpdate(depositForm.value)">

    <div class="deposit-form">
       
        <h5 id="advice">Les champs marqués d'un (*) sont obligatoires</h5>
  
      <div class="deposit-form-elt">
        <label class="deposit-form-elt-label" for="post-code">Code postal où se trouve le véhicule (*):</label>
        <input  type="text"
                formControlName="postalCode"
                size="4"
                maxlength="5"
                id="post-code">
      </div>
      <div *ngIf="isInvalid('postalCode')">
          <div class="error-effect-title">
              Le code postal doit être valide
          </div>
      </div> 
  

  
      <div class="deposit-form-elt">
        <label class="deposit-form-elt-label">Marque (*):</label>
        <select formControlName="carBrand">
          <option value="">Sélectionner la Marque</option> 
          <option value={{brand.name}} *ngFor="let brand of brandList">{{brand.name}}</option>
        </select>
      </div>
      <div *ngIf="isInvalid('carBrand')">
          <div class="error-effect-title">
              La marque est obligatoire
          </div>
      </div> 

  
      <div class="deposit-form-elt">
        <label class="deposit-form-elt-label">Modèle (*):</label>
        <select formControlName="carModel">
          <option value={{model.name}} *ngFor="let model of modelList">{{model.name}}</option>
          <option value="">Sélectionner le modèle</option>
        </select>
      </div>
      <div *ngIf="isInvalid('carModel')">
          <div class="error-effect-title">
              Le modèle est obligatoire
          </div>
      </div> 

  
      <div class="deposit-form-elt">
        <label class="deposit-form-elt-label">Année du véhicule (*):</label>
        <select formControlName="year">
          <option value={{year.yearValue}} *ngFor="let year of yearList">{{year.yearValue}}</option>
          <option value="">Sélectionner l'année</option>
        </select>
      </div>
      <div *ngIf="isInvalid('year')">
          <div class="error-effect-title">
              L'année du véhicule est obligatoire
          </div>
      </div> 

  
      <p class="deposit-form-elt-label">Boite de vitesse :</p>
      <div class="deposit-form-elt-radio">
  
        <input type="radio" id="manualChoice" formControlName="gearbox" value="Manuelle">
        <label for="manualChoice">Manuelle</label>
  
        <input type="radio" id="autoChoice" formControlName="gearbox" value="Automatique">
        <label for="autoChoice">Automatique</label>
  
      </div>
  
      <div class="deposit-form-elt">
        <label class="deposit-form-elt-label" for="ext-color">Couleur extérieure :</label>
        <input  type="text"
                formControlName="outerColor"
                id="ext-color"
                placeholder="Exemple : bleu nuit">
      </div>
      <div *ngIf="isInvalid('outerColor')">
          <div class="error-effect-title">
              La couleur ne doit comporter que des lettres
          </div>
      </div> 

  
  
      <p class="deposit-form-elt-label">4 roues motrices :</p>
      <div class="deposit-form-elt-radio">
  
        <input type="radio" id="fwdChoiceNo" formControlName="fourWheelDrive" value=false>
        <label for="fwdChoiceNo">Non</label>
  
        <input type="radio" id="fwdChoiceYes" formControlName="fourWheelDrive" value=true>
        <label for="fwdChoiceYes">Oui</label>
  
  
      </div>
  
      <div class="deposit-form-elt">
        <label class="deposit-form-elt-label" for="description">Descriptif de l'annonce :</label>
        <textarea   id="description"
                    formControlName="description" 
                    rows="10" 
                    cols="45"
                    placeholder="Détails de l'annonce">
        </textarea>
      </div>
  
      <div class="deposit-form-elt">
        <label class="deposit-form-elt-label" for="price">Prix - euros (*): </label>
        <input  type="text" 
                formControlName="price"
                size="5"
                maxlength="6"
                id="price">
      </div>
      <div *ngIf="isInvalid('price')">
          <div class="error-effect-title">
              Le prix doit être numérique et entier sans virgule
          </div>
      </div> 

  
      <div class="deposit-form-elt">
        <button class="submit-button" type="submit">Enregistrer les modifications</button>
        <!--<button class="submit-button" type="submit" [disabled]="!depositForm.dirty">Enregistrer l'annonce</button> -->
      </div>
  
    </div>
  
  </form>

<p *ngIf="generalInfoMessage" class="message">{{generalInfoMessage}}</p>

<br>

<div class="title">
  <h2>Photographies</h2>
</div>

<!--selection and upload of an image-->
<div class="image-select">
    <input  type="file" (change)="onFileChanged($event)">
</div>

<br>

  <!--displaying live images uploaded, in a flex and wrap way-->
<div class="img-container" *ngIf="offerToUpdate">

  <div class="img-elt" *ngFor="let imageInUse of offerToUpdate.images">
    <img class="image-uploaded" src="data:image/jpeg;base64,{{imageInUse.picByte}}"> 
    <button class="suppress-button" (click)="onDeleteImage(imageInUse.id)">Supprimer</button> 
  </div>

</div>

<p *ngIf="imageMessage" class="message">{{imageMessage}}</p>


<br>

<div class="title">
  <h2>Equipements et options</h2>
</div>

<p id="advice">Le choix des options est facultatif</p>

<form [formGroup]="equipmentForm" [ngClass]="{'is-disable': isDepositComplete}" (ngSubmit)="submit(equipmentForm.value)">

  <!--Displaying checkboxes with equipment from equipment in database-->
    <div class="check-form">
        <div class=check-list>
            <label  formArrayName="equipments" 
                    *ngFor="let equipmentCheck of equipmentForm.controls.equipments.controls; let i = index">
                    <h3 *ngIf="(equipmentList[i].type == 'comfort') && (equipmentList[i].label == 'Suspensions adaptables')">Confort</h3>
                    <h3 *ngIf="(equipmentList[i].type == 'exterior') && (equipmentList[i].label == 'Jantes Alu 17')">Extérieur</h3>
                    <h3 *ngIf="(equipmentList[i].type == 'interior') && (equipmentList[i].label == 'Sièges cuir')">Intérieur</h3>
                    
                    <input type="checkbox" [formControlName]="i">
                    
            {{equipmentList[i].label}}
            </label>
        </div>
        <br>
        <button id="submit-button">Enregistrer les modifications</button>
    </div>

</form>

<p *ngIf="equipmentMessage" class="message">{{equipmentMessage}}</p>

