
<div id="back">
    <img src="../../assets/images/william-karl-I1ox7msRbn8-unsplash.jpg" alt="Photo by William Karl on Unsplash"> 
</div>

<div id="register-form" *ngIf="!isSuccessful">

      <form id="global-form"
            
            name="form"
            (ngSubmit)="f.form.valid && onSubmit()"
            #f="ngForm"
            novalidate>

        <div class="form-item"> 
            <img id="logo" src="../../assets/images/credito.jpg" alt="credito">
        </div> 
        <div class="form-item">
          <input  type="text"
                  class="form-control"
                  name="username"
                  [(ngModel)]="form.username"
                  required
                  placeholder="Nom d'utilisateur"
                  minlength="3"
                  maxlength="20"
                  #username="ngModel"/>
        </div>
        
        <div class="error-effect-title" 
              *ngIf="f.submitted && username.invalid">
                <div *ngIf="username.errors.required">Le nom d'utilisateur est obligatoire</div>
                <div *ngIf="username.errors.minlength">Le nom d'utilisateur doit avoir 3 caractères minimum</div>
                <div *ngIf="username.errors.maxlength">Le nom d'utilisateur doit avoir 20 caractères maximum</div>
        </div>
        
        <div class="form-item">
          <input  type="email"
                  class="form-control"
                  name="email"
                  [(ngModel)]="form.email"
                  required
                  placeholder="Email"
                  email
                  #email="ngModel"/>
        </div>
        
        <div class="error-effect-title" 
            *ngIf="f.submitted && email.invalid">
            <div *ngIf="email.errors.required">L'email est obligatoire</div>
            <div *ngIf="email.errors.email">L'email doit être valide</div>
        </div>
        
        <div class="form-item">
          <input  type="password"
                  class="form-control"
                  name="password"
                  [(ngModel)]="form.password"
                  required
                  placeholder="Mot de passe"
                  minlength="6"
                  #password="ngModel" />
        </div>
          
        <div class="error-effect-title"
              *ngIf="f.submitted && password.invalid">
                <div *ngIf="password.errors.required">Le mot de passe est obligatoire</div>
                <div *ngIf="password.errors.minlength">Le mot de passe doit contenir au moins 6 caractères</div>
        </div>

        <div id="line"></div>

        <br>
        
        <div id="connect-button">
          <button>S'inscrire</button>
        </div>
  
        <div class="form-item"> 
          <div class="error-effect-title"
            *ngIf="f.submitted && isSignUpFailed">
            L'inscription a échoué!<br />{{ errorMessage }}
          </div>
        </div>

      </form>
  </div>

  <div class="message" *ngIf="isSuccessful">
      Inscription enregistrée !
  </div>


  


