#top-bar {
    /*border : 1px solid darkgray;
    background-color: #fff; */
    margin-bottom : 2rem;

} 

h1 {
    width : 15%;
    margin : auto;
    border : 2px solid dimgrey ;
    border-radius: 1.4rem;
    text-align: center;
    color: #fff; 
    background-color: #3A913F;

    margin-bottom : 1rem;

}

span{
    font-style: italic;
    font-size: 1rem;
}


ul {

    padding : 0; /* a left padding exists by default on ul */
   
    width: 33%;
    list-style-type: none;

    margin : auto; /*center the list in the nav bar */

    border : 2px solid #3A913F;

}
/*
#username{
    color:#3A913F;
}*/

li {
    display: inline; /* <li> are block by default ("list-item"), which means 1 <li> takes one line which we don't want */

}

/* <a> elements decide for appearance (not the <li> decide) */
a {
    display: inline-block;  /*in order to modify its dimensions - allow to set width and height */

    outline: none;
    text-align: center;
    text-decoration: none; /* no undelined link */

    /*color:whitesmoke; */
    color : #8C2B53;

    /*border : solid whitesmoke 1px; */
    /*border-collapse: collapse; */ /*in order the border not add width twice */
   
    width : 25%; /*width of one <li>. There are 4 <Li> elements + border : must match 100% */

    /* height of <a> is bigger than height of <li> */
    line-height: 3; /* 3 times police height : consequence : center vertically the text */

}


a:link{
    background-color: #CCCCCC;
}

a:visited{
    background-color:#CCCCCC; /*after a link has been visited */ 

} 

a:focus{
    background-color:#CCCCCC; /*when gets the focus, ie the default which is activated when enter is pressed */
} 

a:hover{
    background-color : #3A913F;

}

a:active{
    background-color : #8C2B53; /* when user click on link */

}

#top-image img {
    position: absolute; /*so that the image may be positionned out of the flow */
    z-index: 0; /*comes with position absolute - image is behind login form*/

      
    width: 20%; /* image takes the full container width */
    height: auto; /*auto : default value */
      
    /* Set up positioning below the top bar, n% from the top of the screen */
    position: fixed;

    top:-20px;
    left: 200px;

  }



#left-image img {
    position: absolute; /*so that the image may be positionned out of the flow */
    z-index: 0; /*comes with position absolute - image is behind login form*/

      
    width: 10%; /* image takes the full container width */
    height: auto; /*auto : default value */
      
    /* Set up positioning below the top bar, n% from the top of the screen */
    position: fixed;

    top:200px;
    left: 250px;

  }

  #right-image img {
    position: absolute; /*so that the image may be positionned out of the flow */
    z-index: 0; /*comes with position absolute - image is behind login form*/
    /*min-height: 100%; */ /*fill the browser vertically */
    /*min-width: 1024px;  *//*image won't reduce less than 1024 px when responsive*/
      
    width: 15%; /* image takes the full container width */
    height: auto; /*auto : default value */
      
    /* Set up positioning below the top bar, n% from the top of the screen */
    position: fixed;
    /*top: -1200px;*/ /*displaying the bottom side of the image */
    top:550px;
    right: 200px;

  }


