
<div id="top-bar">


  <h1>oCar <span>by Cetelem</span></h1>

  <!--top picture : cetelem logo-->
  <div id="top-image">
    <img src="../../assets/images/Cetelembe_amplogo-fr.png" alt="Photo by PF"> 
  </div>

  <!--unordered list nav bar-->
  <nav class="nav-bar"> 
    <ul>
      <li><a href="/" routerLink="">Accueil</a></li>
      <li *ngIf="showAdminBoard"><a href="/admin" routerLink="admin">Admin Board</a></li>
      <li *ngIf="showModeratorBoard"><a href="/mod" routerLink="mod">Moderator Board</a></li>
      <li><a routerLink="/deposit">Déposer une annonce</a></li>
      <li *ngIf="!isLoggedIn"><a href="/register" routerLink="register">S'inscrire</a></li>
      <li *ngIf="!isLoggedIn"><a href="/login" routerLink="login">Se connecter</a></li>
      <li  *ngIf="isLoggedIn"><a id="username" href="/user" routerLink="user">{{ username }}</a></li>
      <li *ngIf="isLoggedIn"><a href (click)="logout()">Se déconnecter</a></li>
    </ul>
  </nav>

</div>

 <!--right bottom picture : credito-->
<div id="right-image">
  <img src="../../assets/images/credito-thinking.png" alt="Photo by PF"> 
</div>

  
