#top-bar {
    border : 1px solid darkgray;
}

h1 {
    text-align: center;
    /*color: forestgreen; */
    color: #3A913F;
    /*border : 1px solid green; */
}

.nav-bar {
    display: flex;
    flex-direction: row;

    justify-content: center;
}

ul {
    list-style-type: none;
}